<h2> Landmarks </h2>

<ul>
<% @landmarks.each do | landmark | %>
  <li><%= landmark.name %>
  -- <%= landmark.year_completed %>
</li>
<a href="/landmarks/<%= landmark.id %>/edit">Edit</a>&nbsp;
<a href="/landmarks/<%= landmark.id %>">View</a>
<br/>
<% end %>
</ul>

<a href="/landmarks/new">Create New Landmark </a>&nbsp;
<a href="/">Home</a>
