<form action="/landmarks/new" method="post">
  Name: <input type="text" placeholder="Landmark Name" id="landmark_name" name="landmark[name]" />
  <br/><br/>
  Year Completed: <input type="text" placeholder="Year Completed" id="landmark_year_completed" name="landmark[year_completed]"/>
  <br/><br/>
  <input type="submit" value="Create New Landmark" id="Create New Landmark"/>
</form>
<br/>
<a href="/landmarks">View All</a>
